@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
    
    
    
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    background-color: black;
}
h1{
    background-color:black;
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
section.cont{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100vh
}
section P{
    font-size: 2.8em;
    text-align: justify;
    line-height: 2.5em;
    background-color: lightgray;   
    padding: 10px;
    border-radius: 5px;
}
section.bage-logo{
    height: 100px;
    width: 100vw;
    background-color: black;
    background-image: url(imagens/file.png);
    background-position: center;
    background-size: 100px;
}
section#bage{
    display: block;
    margin-bottom: 100px;

}
section#bage p {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100px;
    text-align: center;
}

section#bage img{
    width: 400px;
    height: 300px;
}
section#testemunho{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
section#testemunho p{
    font-size: 2.4em;
    text-align: justify;
    line-height: 2.5em; 
}
div.video{
    display: flex;
    justify-content: center;
    margin: 30px;
}
section#curiosidade{
    display: flex;
    justify-content: center;
}
section#curiosidade p{
    font-size: 2.4em;
    text-align: justify;
    line-height: 2.5em; 
}
div#niver{
    display: flex;
    justify-content: center;
    margin: 30px;
}
 div#niver img{
    width: 400px;
    height: 300px;
 }
div.final img{
    width: 500px;
    height: 500px;
}
img#ajuste{
    width: 500px;
    height: 400px;
}
section#final{
    display: flex;
    justify-content: center;
}
section#final p{
    font-size: 2.4em;
    text-align: justify;
    line-height: 2.5em; 
}
div.final{
    margin: 40px;
}

